html {
	background-image: url(images/Space_Rainbow_desktop_background_pictures.jpg);
	background-size: cover;
}

h2 {
    text-align: center;
}

code {
    white-space: pre;
}

.slide,
.delayed,
.delayed-children > * {
       -webkit-transition:1s;
       -ms-transition:1s;
       -moz-transition:1s;
       -o-transition:1s;
        transition:1s;
       -moz-transition-property: -webkit-transform, opacity, left, top, right, bottom;
       -ms-transition-property: -webkit-transform, opacity, left, top, right, bottom;
       -o-transition-property: -webkit-transform, opacity, left, top, right, bottom;
       -webkit-transition-property: -webkit-transform, opacity, left, top, right, bottom;
       transition-property: -webkit-transform, opacity, left, top, right, bottom;
}

.delayed.displayed, .delayed-children > .displayed {
    opacity: .5;
}

.nofade .delayed.displayed,
pre .delayed.displayed,
pre.delayed.displayed,
.delayed-children > .displayed {
    opacity: 1;

}

section > footer.slide > h1 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -.6em;
    font-size: 400%;
    line-height: 1;
    text-align: center;
}

#intro h1 {
	font-size: 2in;
	text-align: center;
}

#intro h2 {
    text-align: center;
    position: relative;
    z-index: 1;
}

#intro object {
    display: block;
    margin: -100px auto;
}

#intro .attribution {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 100%;
	color: rgba(255,255,255,.7);
	background: rgba(0,0,0,0.4);
	padding:.4em 0;
}

.slide img {
    display: block;
    margin: 0 auto;
}

.slide > ul > li::before {
    content: '\25BA';
    color: #c1bf2c;
}

.slide > ul > li.good::before {
    content: '\2714';
    color: #A0C12C;
}

.slide > ul > li.bad::before {
    content: '\2717';
    color: #c12c2c;
}

.comment {
    color: #6CC;
}

/* Conversion methods slide */
.conversion ul.delayed {
    float: left;
    width: 33.33%;
}
.conversion > ul > li::before {
    content: '';
}
.conversion img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -115px;
    margin-top: -220px;
}

#reps ul.delayed {
    float: left;
    width: 33%;
    margin-left: 11%;
}
#reps > ul > li::before {
    content: '';
}
#reps p {
    clear: both;
    padding-top: 50px;
    text-align: center;
    font-size: 150%;
}

/* Specs slide */
#specs ul {
    float: left;
    width: 50%;
}
